.result-container{
  height: 100%;
  .head{
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    color: #2F2E41;
  }
  .loader{
    position:relative;
    width:fit-content;
    margin:auto;
    top: 30%;
  }
  .result{
    height: 88%;
    display: flex;
    margin-top: 10px;
    place-items: center;
    .no-result{
      margin: 20px 0;
      color: #6b7280;
      text-align: center;
      width: 60%;
      margin: auto;
      background-color: #f3f4f6;
      padding: 10px;
      font-size: 17px;
      text-shadow: 2px 2px 6px #9ca3af;
    }
    .result-table{
      height: 100%;
      overflow: scroll;
      display: block;
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #d1d5db;
        border-radius: 30px;
        cursor: pointer;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #9ca3af;
      }
    }
  }
  
}